.enabler__nav {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.enabler__login-signup {
    display: flex;
    gap: 32px;
}
.btn {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: blueviolet;
    transition: all 0.2s ease-in-out;
}
.btn--login {
    border: 1px solid blueviolet;
    background-color: #fff;
    color: blueviolet

}
.btn:hover {
    scale: 1.03;
}