.enabler__sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    padding: 16px;
}
.enabler__show-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 32px;
    border: 1px solid rgb(184, 184, 184);
    margin: 0 0 12px;
    padding: 0 8px;
    cursor: pointer;
}
.enabler__sidebar h2 {
    color: violet;
    margin: 0 0 12px;
}
.enabler__sidebar h4 {
    font-weight: 300;
}
.enabler__more-games_container {
    width: 100%;
    position: relative;
}
.enabler__more-games {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 8px;
    background-color: aliceblue;
}
.enabler__more-games a {
    text-decoration: none;
    color: rgb(66, 66, 66);
    width: 100%;
    transition: all 0.2s ease-in-out;
    border: 0.1px solid #000;
    background-color: rgb(234, 234, 234);
    text-align: center;
    padding: 4px 0;
}
.enabler__more-games a:hover {
    color: violet;
    scale: 1.03;
}
.enabler__restart {
    width: 100%;
    height: auto;
    margin: 8px 0 0;
}
.enabler__restart button {
    width: 100%;
    padding: 8px 0;
    font-size: 1.2rem;
    background-color: blueviolet;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}